<div class="row">
  <div class="col-xs-12">
    <img [src]="(currentRecipe | async).imgUrl " alt="{{ (currentRecipe | async).name }}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name: {{ (currentRecipe | async).name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="addToShoppingList()">Add to List</a></li>
        <li><a routerLink="edit">Edit Recipe</a></li>
        <li><a (click)="onClickDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description: {{ (currentRecipe | async).description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of (currentRecipe | async).ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>